@using HairSalon.Models;

<h2>@Model.name</h2>
<h3>Lists of Stylists with this specialty:</h3>
<ul>
  @foreach(var stylist in @Model.GetStylists())
  {
    <a href="/Stylist/@stylist.id">@stylist.name</a><br>
  }
</ul>
<form class="" action="/Specialty/@Model.id/Stylist" method="post">
  <button type="submit">Add Specialty to:</button>
  <select name="stylistId">
    @foreach(var stylist in @Model.GetRemainingStylists())
    {
      <option value="@stylist.id">@stylist.name</option>
    }
  </select>
</form>
