@using HairSalon.Models;

<h2>@Model.name - @Model.description</h2>
<h4>Level: @Model.level</h4>
@* <h4>@Model.GetScissorsName() / Damage: @Model.GetDamage() </h4> *@
<h6>Hair Collected: @Model.hair</h6>
<h6>Hair Needed to next level:@Model.GetNextLevel()</h6>
<h1>List of @Model.name's Clients:</h1>
<ul>
  @foreach(var client in @Model.GetClients())
  {
    <a href="/Client/@client.id">@client.name / Hair: @client.hair</a><br>
  }
</ul>
<h1>List of @Model.name's Specialties:</h1>
<ul>
  @foreach(var specialty in @Model.GetSpecialties())
  {
    <a href="/Specialty/@specialty.id">@specialty.name</a><br>
  }
</ul>


<form class="" action="/Stylist/@Model.id/Specialty" method="post">
  <button type="submit">Add Specialty</button>
  <select name="specialtyid">
    @foreach(var specialty in @Model.GetRemainingSpecialties())
    {
      <option value="@specialty.id">@specialty.name</option>
    }
  </select>
  <br>
</form>
<form class="" action="/Stylist/@Model.id/Edit" method="post">
  <button type="submit">CHANGE THAT NAME</button>
  <input id="Name" name="Name" type="text"><br><br>
</form>

<form class="" action="/Stylist/@Model.id/Delete" method="post">
  <button type="submit">Remove @Model.name</button>
</form>

<a href=/stylist/new>ADD A STYLIST</a>
<a href=/client/new>ADD A CLIENT</a>
