@using HairSalon.Models;

<h2>@Model.name - @Model.description</h2>
<h4>Level: @Model.level</h4>
@* <h4>@Model.GetScissorsName() / Damage: @Model.GetScissors() </h4> *@
<h6>Hair Collected: @Model.hair</h6>
@* <h6>Hair Needed to next level:@Model.GetNextLevel()</h6> *@
<h1>List of @Model.name's Clients:</h1>
<ul>
  @foreach(var client in @Model.GetClients())
  {
    <a href="/Client/@client.id">@client.name / Hair: @client.hair</a><br>
  }
</ul>

<a href=/stylist/new>ADD A STYLIST</a>
<a href=/client/new>ADD A CLIENT</a>
